<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__photo">
        <img src="../img/main_photo.jpg" alt="photo">
      </div>
      <div class="about__descr">
        <h2 class="title title_fz16 about__title">Про меня</h2>
        <div class="title title_fz36 about__subtitle">Меня зовут Роман</div>
        <div class="divider"></div>
        <p class="about__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius veritatis repellendus officiis itaque, dignissimos, eaque rem, esse quae dolorem minima sit a exercitationem distinctio cupiditate hic nostrum aperiam consequatur recusandae! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit labore quisquam vitae at inventore dignissimos non exercitationem illum commodi necessitatibus? Quos hic quas reprehenderit doloremque quis dolorum nisi atque eaque.</p>
      </div>

      <div class="about__skills">
        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./img/icons/web_development.svg" alt="web-dev">
          </div>
          <div>
            <div class="title title_fz14">
              Web-разработка
            </div>
            <div class="about__skills-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laudantium veritatis voluptas quod iste numquam officiis obcaecati vitae
            </div>
          </div>
        </div>

        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./img/icons/mobile_dev.svg" alt="web-dev">
          </div>
          <div>
            <div class="title title_fz14">
              Разработка приложений
            </div>
            <div class="about__skills-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laudantium veritatis voluptas quod iste numquam officiis obcaecati vitae
            </div>
          </div>
        </div>

        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./img/icons/design.svg" alt="web-dev">
          </div>
          <div>
            <div class="title title_fz14">
              UI/UX Design
            </div>
            <div class="about__skills-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laudantium veritatis voluptas quod iste numquam officiis obcaecati vitae
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
