<section class="price">
  <div class="container">
    <h2 class="title title_fz16 title__section-title">Портфолио</h2>
    <div class="divider"></div>

    <div class="price__wrapper">
      <div class="price__column">
        <h3 class="title title_fz14 price__title">Landing-page</h3>
        <p class="price__sum title_fz14">от 8000 руб.</p>
        <p class="price__descr">Одностраничный сайт для презентации услуг/товаров/...</p>
      </div>

      <div class="price__column">
        <h3 class="title title_fz14 price__title">Web-приложение</h3>
        <p class="price__sum title_fz14">от 28000 руб.</p>
        <p class="price__descr">Приложение внутри браузера для лучшего комфорта</p>
      </div>

      <div class="price__column">
        <h3 class="title title_fz14 price__title">Корпоративный сайт</h3>
        <p class="price__sum title_fz14">от 20000 руб.</p>
        <p class="price__descr">Сайт для вашего бизнеса или компании</p>
      </div>

      <div class="price__column">
        <h3 class="title title_fz14 price__title">Android/IOS Приложение</h3>
        <p class="price__sum title_fz14">от 29000 руб.</p>
        <p class="price__descr">Приложение для смартфона любой ОС</p>
      </div>

      <div class="price__column">
        <h3 class="title title_fz14 price__title">Интернет-магазин</h3>
        <p class="price__sum title_fz14">от 30000 руб.</p>
        <p class="price__descr">Инструмент для ваших продаж в сети</p>
      </div>

      <div class="price__column">
        <h3 class="title title_fz14 price__title">Дизайн</h3>
        <p class="price__sum title_fz14">Индивидуально</p>
        <p class="price__descr">Создам дизайн для вашего сайта/приложения...</p>
      </div>
    </div>
  </div>
</section>
