<section class="resume">
  <div class="container">
    <h2 class="title title_fz16 title__section-title">Опыт</h2>
    <div class="title title_fz36 title__section-subtitle">Чем я буду полезен</div>
    <div class="divider"></div>

    <div class="resume__wrapper">
      <div class="resume__column">
        <h3 class="title title_fz20 resume__column-title">Образование</h3>
        <ul>
          <li>
            <div class="resume__item">
              <div class="resume__item-head">
                <div class="resume__item-icon">
                  <img src="../img/icons/university.svg" alt="university">
                </div>
                <h4 class="title title_fz14">ХНЭУ им. С.Кузнеца</h4>
                <div class="resume__item-since">Диплом специалиста | Харьков (2001-2007)</div>
              </div>
              <div class="resume__item-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, quia impedit molestiae fuga assumenda, ipsum explicabo ipsa ipsam ab nobis repellendus quae cupiditate vitae ratione natus libero molestias. Neque, consectetur?</div>
            </div>
          </li>

          <li>
            <div class="resume__item">
              <div class="resume__item-head">
                <div class="resume__item-icon">
                  <img src="../img/icons/courses.svg"alt="courses">
                </div>
                <h4 class="title title_fz14">Udemy</h4>
                <div class="resume__item-since">Курсы по Web-разработке</div>
              </div>
              <div class="resume__item-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, quia impedit molestiae fuga assumenda, ipsum explicabo ipsa ipsam ab nobis repellendus quae cupiditate vitae ratione natus libero molestias. Neque, consectetur?</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="resume__column">
        <h3 class="title title_fz20 resume__column-title">Опыт работы</h3>
        <ul>
          <li>
            <div class="resume__item">
              <div class="resume__item-head">
                <div class="resume__item-icon">
                  <img src="../img/icons/developer.svg" alt="developer">
                </div>
                <h4 class="title title_fz14">АБ "УКРГАЗБАНК"</h4>
                <div class="resume__item-since">менеджер МСБ</div>
              </div>
              <div class="resume__item-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, quia impedit molestiae fuga assumenda, ipsum explicabo ipsa ipsam ab nobis repellendus quae cupiditate vitae ratione natus libero molestias. Neque, consectetur?</div>
            </div>
          </li>

          <li>
            <div class="resume__item">
              <div class="resume__item-head">
                <div class="resume__item-icon">
                  <img src="../img/icons/designer.svg" alt="designer">
                </div>
                <h4 class="title title_fz14">UX/UI designer</h4>
                <div class="resume__item-since">EPAM | Харьков (2022)</div>
              </div>
              <div class="resume__item-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, quia impedit molestiae fuga assumenda, ipsum explicabo ipsa ipsam ab nobis repellendus quae cupiditate vitae ratione natus libero molestias. Neque, consectetur?</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
