<section class="skills">
  <div class="container">
    <h2 class="title title_fz16 title__section-title">Навыки</h2>
    <div class="title title_fz36 title__section-subtitle">Что я использую в работе</div>
    <div class="divider"></div>

    <div class="skills__top">
      <div class="skills__top-column">
        <div class="skills__top-item">
          <div class="skills__top-icon">
            <img src="../img/icons/html5.svg" alt="html5">
          </div>
          <h4 class="title_fz14 skills__top-title">HTML5</h4>
          <div class="skills__top-descr">Именно он создает каркас вашего сайта или приложения, а пятая версия позволит мне создавать более SEO-оптимизированную структуру вашего продукта</div>
        </div>

        <div class="skills__top-item">
          <div class="skills__top-icon">
            <img src="../img/icons/css3.svg" alt="css3">
          </div>
          <h4 class="title_fz14 skills__top-title">CSS3</h4>
          <div class="skills__top-descr">Этот язык стилей позволяет мне создавать абсолютно любой внешний вид вашего сайта или приложения. Все ограничивается только вашей фантазией!</div>
        </div>

        <div class="skills__top-item">
          <div class="skills__top-icon">
            <img src="../img/icons/js.svg" alt="js">
          </div>
          <h4 class="title_fz14 skills__top-title">Java Script</h4>
          <div class="skills__top-descr">Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое</div>
        </div>

        <div class="skills__top-item">
          <div class="skills__top-icon">
            <img src="../img/icons/jquery.svg" alt="jquery">
          </div>
          <h4 class="title_fz14 skills__top-title">Jquery</h4>
          <div class="skills__top-descr">Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует</div>
        </div>

        <div class="skills__top-item">
          <div class="skills__top-icon">
            <img src="../img/icons/react.svg" alt="react">
          </div>
          <h4 class="title_fz14 skills__top-title">React</h4>
          <div class="skills__top-descr">Эта библиотека позволяет создавать web-приложения. Мы можем создать максимально интерактивный продукт именно под ваши цели</div>
        </div>

        <div class="skills__top-item">
          <div class="skills__top-icon">
            <img src="../img/icons/node.js.svg" alt="nodejs">
          </div>
          <h4 class="title_fz14 skills__top-title">Node.js</h4>
          <div class="skills__top-descr">Эта платформа позволяет создавать бэкенд для вашего продукта - “мозги”, которые будут выполнять действия, которые пользователь не видит</div>
        </div>

        <div class="skills__top-item">
          <div class="skills__top-icon">
            <img src="../img/icons/mongo.db.svg" alt="mongo.db">
          </div>
          <h4 class="title_fz14 skills__top-title">Mongo.db</h4>
          <div class="skills__top-descr">Это нереляционная база данных, которая будет хранить данные вашего сайта или приложения</div>
        </div>
      </div>
    </div>

    <div class="skills__bottom">
      <div class="skills__bottom-column">
        <div class="skills__bottom-item">
          <div class="skills__bottom-head">
            <h4 class="title_fz14 skills__bottom-title">Создание сайтов</h4>
            <div class="skills__bottom-percent">100%</div>
          </div>
          <div class="skills__panel">
            <div class="skills__panel-colored"></div>
          </div>
        </div>

        <div class="skills__bottom-item">
          <div class="skills__bottom-head">
            <h4 class="title_fz14 skills__bottom-title">Создание приложений</h4>
            <div class="skills__bottom-percent">85%</div>
          </div>
          <div class="skills__panel">
            <div class="skills__panel-colored"></div>
          </div>
        </div>

        <div class="skills__bottom-item">
          <div class="skills__bottom-head">
            <h4 class="title_fz14 skills__bottom-title">Работа с данными</h4>
            <div class="skills__bottom-percent">90%</div>
          </div>
          <div class="skills__panel">
            <div class="skills__panel-colored"></div>
          </div>
        </div>

        <div class="skills__bottom-item">
          <div class="skills__bottom-head">
            <h4 class="title_fz14 skills__bottom-title">Креативность</h4>
            <div class="skills__bottom-percent">75%</div>
          </div>
          <div class="skills__panel">
            <div class="skills__panel-colored"></div>
          </div>
        </div>

        <div class="skills__bottom-item">
          <div class="skills__bottom-head">
            <h4 class="title_fz14 skills__bottom-title">Создание дизайна</h4>
            <div class="skills__bottom-percent">70%</div>
          </div>
          <div class="skills__panel">
            <div class="skills__panel-colored"></div>
          </div>
        </div>

        <div class="skills__bottom-item">
          <div class="skills__bottom-head">
            <h4 class="title_fz14 skills__bottom-title">Soft skills</h4>
            <div class="skills__bottom-percent">95%</div>
          </div>
          <div class="skills__panel">
            <div class="skills__panel-colored"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
